:root {
  --background-rgb: 21, 30, 38;
  --foreground-rgb: 242, 239, 233;
  --max-width: 45rem;
  --transition-duration: 0.2s;
  --spacing: 2em;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb)) url("/images/stardust.png") repeat
    fixed;
  margin: 0;
}
