.root {
  appearance: none;
  background: transparent;
  cursor: pointer;
  margin: var(--spacing) 0 0;
  padding: var(--spacing) 0;
  width: 100%;
}

.root:focus {
  outline: none;
}

.root::-webkit-slider-runnable-track {
  /* stylelint-disable-next-line color-function-notation */
  border-bottom: 1px dashed rgba(var(--foreground-rgb), 30%);
  height: 0;
}

.root::-moz-range-track {
  /* stylelint-disable-next-line color-function-notation */
  border-bottom: 1px dashed rgba(var(--foreground-rgb), 30%);
  height: 0;
}

.root::-webkit-slider-thumb {
  appearance: none;
  background-color: rgb(var(--foreground-rgb));
  border-radius: 0.5rem;
  box-shadow: 0 0 0.7em 0.4em rgb(255 255 255 / 40%);
  height: 0.5rem;
  margin-top: -0.15rem; /* Centers thumb on the track */
  width: 0.5rem;
}

.root::-moz-range-thumb {
  border: none; /* Removes extra border that FF applies */
  background-color: rgb(var(--foreground-rgb));
  border-radius: 0.5rem;
  box-shadow: 0 0 0.7em 0.4em rgb(255 255 255 / 40%);
  height: 0.5rem;
  width: 0.5rem;
}

.root.loading::-webkit-slider-thumb {
  display: none;
}

.root.loading::-moz-range-thumb {
  display: none;
}

@media (min-width: 30rem) {
  .root {
    margin-top: calc(2 * var(--spacing));
  }
}
